<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CRM</display-name>

  <!--
     起名规范
     add/create:跳转到添加页，或者打开添加操作的模态窗口
     save:执行添加操作
     edit:跳转到修改页，或者打开修改操作的模态窗口
     update:执行修改操作
     get:执行查询操作   find/select/query/...
     特殊操作 login等
   -->

 <!-- 欢迎页，所有开发者约定俗成-->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>


  <!--过滤器注册要放在Servlet注册之前才好过滤-->
  <filter><!--编码过滤器-->
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.bjpowernode.CRM.web.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <!--<url-pattern></url-pattern>里放的是要过滤哪些Servlet，正常前端也要过滤一下
    但是前端jsp里面已经设置好UTF-8的编码格式了，所以不需要再过滤了，提升效率
    只需要对.do后缀的Servlet进行过滤即可，后缀的文件名不要加/-->
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <!--恶意请求过滤器-->
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.bjpowernode.CRM.web.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <!--过滤一个前端的.jsp文件和后台的.do的Servlet就够了，其他的像css,图片之类的，没有必要管-->
    <url-pattern>*.jsp</url-pattern>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>



  <!--Servlet用户控制器-->
  <servlet>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.bjpowernode.CRM.settings.web.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <!--<url-pattern>起名要以模块/功能为主-->
    <url-pattern>/settings/user/login.do</url-pattern>
  </servlet-mapping>

  <!--市场活动控制器-->
  <servlet>
    <servlet-name>ActivityController</servlet-name>
    <servlet-class>com.bjpowernode.CRM.workbench.web.controller.ActivityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivityController</servlet-name>
    <url-pattern>/workbench/activity/getUserList.do</url-pattern>
    <url-pattern>/workbench/activity/save.do</url-pattern>
    <url-pattern>/workbench/activity/pageList.do</url-pattern>
    <url-pattern>/workbench/activity/delete.do</url-pattern>
    <url-pattern>/workbench/activity/getUserListAndActivity.do</url-pattern>
    <url-pattern>/workbench/activity/update.do</url-pattern>
    <url-pattern>/workbench/activity/detail.do</url-pattern>
    <url-pattern>/workbench/activity/getRemarkByAid.do</url-pattern>
  </servlet-mapping>




</web-app>
